 <!--Cabecera-->
<div class="bg-image">
  <app-posts-nav></app-posts-nav>
</div>
<!--Fondo-->
<div class="container-md my-5 p-5 bg-primary text-white text-center galeria">
  <h1 class="fw-light text-light">GALERÍA</h1>
</div>
<!--Album-->
<main class="py-5 bg-light">
  <div class="container">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4 g-2">
          <!--Cada imagen-->
          <div class="col">
              <!--Esto deberia ser un modal que abra la imagen-->
              <img src="https://estaticos-cdn.prensaiberica.es/clip/6c70abb4-73c5-43fe-9f79-a79a1502948e_16-9-aspect-ratio_default_0.jpg" alt="Imagen" height="100%" width="100%">
          </div>
          <!--Cada imagen-->
          <div class="col">
              <img src="https://estaticos-cdn.prensaiberica.es/clip/6c70abb4-73c5-43fe-9f79-a79a1502948e_16-9-aspect-ratio_default_0.jpg" alt="Imagen" height="100%" width="100%">
          </div>
          <!--Cada imagen-->
          <div class="col">
              <img src="https://estaticos-cdn.prensaiberica.es/clip/6c70abb4-73c5-43fe-9f79-a79a1502948e_16-9-aspect-ratio_default_0.jpg" alt="Imagen" height="100%" width="100%">
          </div>
          <!--Cada imagen-->
          <div class="col">
              <img src="https://estaticos-cdn.prensaiberica.es/clip/6c70abb4-73c5-43fe-9f79-a79a1502948e_16-9-aspect-ratio_default_0.jpg" alt="Imagen" height="100%" width="100%">
          </div>
          <!--Cada imagen-->
          <div class="col">
              <img src="https://estaticos-cdn.prensaiberica.es/clip/6c70abb4-73c5-43fe-9f79-a79a1502948e_16-9-aspect-ratio_default_0.jpg" alt="Imagen" height="100%" width="100%">
          </div>
          <!--Cada imagen-->
          <div class="col">
              <img src="https://estaticos-cdn.prensaiberica.es/clip/6c70abb4-73c5-43fe-9f79-a79a1502948e_16-9-aspect-ratio_default_0.jpg" alt="Imagen" height="100%" width="100%">
          </div>
          <!--Cada imagen-->
          <div class="col">
              <img src="https://estaticos-cdn.prensaiberica.es/clip/6c70abb4-73c5-43fe-9f79-a79a1502948e_16-9-aspect-ratio_default_0.jpg" alt="Imagen" height="100%" width="100%">
          </div>
          <!--Cada imagen-->
          <div class="col">
              <img src="https://estaticos-cdn.prensaiberica.es/clip/6c70abb4-73c5-43fe-9f79-a79a1502948e_16-9-aspect-ratio_default_0.jpg" alt="Imagen" height="100%" width="100%">
          </div>
          <!--Cada imagen-->
          <div class="col">
              <img src="https://estaticos-cdn.prensaiberica.es/clip/6c70abb4-73c5-43fe-9f79-a79a1502948e_16-9-aspect-ratio_default_0.jpg" alt="Imagen" height="100%" width="100%">
          </div>
          <!--Cada imagen-->
          <div class="col">
              <img src="https://estaticos-cdn.prensaiberica.es/clip/6c70abb4-73c5-43fe-9f79-a79a1502948e_16-9-aspect-ratio_default_0.jpg" alt="Imagen" height="100%" width="100%">
          </div>
          <!--Cada imagen-->
          <div class="col">
              <img src="https://estaticos-cdn.prensaiberica.es/clip/6c70abb4-73c5-43fe-9f79-a79a1502948e_16-9-aspect-ratio_default_0.jpg" alt="Imagen" height="100%" width="100%">
          </div>
      </div>
  </div>
</main>
<!--BTT-->
<section class="container-fluid mt-3 p-3 text-secondary">
  <div class="text-center">
      <p class="w-100">Todos los derechos reservados. Queda prohibida la reproducción total o parcial del material protegido por estos derechos de propiedad intelectual, o su uso en cualquier forma, o por cualquier medio, ya sea electrónico o mecánico, incluyendo fotocopiado, grabación, transmisión o cualquier sistema de almacenamiento y recuperación de información, sin un permiso por escrito.</p>
  </div>
</section>
