<!--Cabecera-->
<div class="bg-image h-25">
  <app-posts-nav></app-posts-nav>
</div>


<!--Registro-->
<main class="py-5 bg-light text-center">
  <div class="container mt-2">
      <p class="p-5 fs-1 fw-light">REGISTRO</p>
  </div>
  <div class="container-sm my-5 py-4 rounded text-start" style="max-width: 500px;">
      <form class="needs-validation" name="formulario" id="formulario">
          <div class="row g-3">
              <div class="col-sm-6">
                  <label for="nombre" class="form-label">Nombre<span class="text-danger"> *</span></label>
                  <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="newUser.name" required>
                  <div class="invalid-feedback"> Se requiere de un nombre</div>
              </div>
              <div class="col-sm-6">
                  <label for="apellido" class="form-label">Apellidos<span class="text-danger"> *</span></label>
                  <input type="text" class="form-control" id="apellido" name="apellidos" [(ngModel)]="newUser.lastname" required>
                  <div class="invalid-feedback"> Se requiere de apellidos</div>
              </div>
              <div class="col-sm-12">
                  <label for="usuario" class="form-label">Nombre de usuario<span class="text-danger"> *</span></label>
                  <div class="input-group has-validation">
                      <span class="input-group-text">@</span>
                      <input type="text" class="form-control" id="username" placeholder="Nombre de usuario" name="nombre_usuario" [(ngModel)]="newUser.login" required>
                      <div class="invalid-feedback"> Se requiere de un nombre de usuario</div>
                  </div>
              </div>
              <div class="col-sm-12">
                  <label for="password" class="form-label">Contraseña<span class="text-danger"> *</span></label>
                  <input type="password" class="form-control" id="password" name="contrasena" [(ngModel)]="newUser.password" required>
                  <div class="invalid-feedback"> Se requiere de una contraseña</div>
              </div>
              <div class="col-sm-12">
                  <label for="email" class="form-label">Correo electrónico<span class="text-danger"> *</span></label>
                  <input type="email" class="form-control" id="email" name="email" [(ngModel)]="newUser.email" placeholder="ejemplo@ejemplo.com" required>
                  <div class="invalid-feedback"> Se requiere una direccion de correo valida</div>
              </div>
              <hr class="my-4">
              <div class="form-check">
                  <input type="checkbox" class="form-check-input" id="newsletter">
                  <label class="form-check-label" for="newsletter">Registrarse al boletin de noticias para recibir informacion sobre actividades, etc.</label>
              </div>
              <div class="form-check">
                  <input type="checkbox" class="form-check-input" name="condiciones" id="condiciones" [(ngModel)]="checked" required>
                  <label class="form-check-label" for="condiciones">He leido y acepto las condiciones legales.<span class="text-danger"> *</span></label>
              </div>
              <button class="w-100 btn btn-primary btn-lg" type="submit" id="boton-formulario"  (click)="addUser()">Registrarse</button>
              <small class="text-muted">Los campos que contienen <span class="text-danger">*</span>, son requeridos y necesitan ser rellenados.</small>
          </div>
      </form>
  </div>
</main>
