<div class="col mb-4">
  <div class="card h-100 rounded" style="width: 100%;">
    <img class="card-img-top" [src]="newpost.image">
    <div class="card-body">
      <p class="fs-4 card-title">{{newpost.title | titlecase}}</p>
      <p class="card-text pt-3">{{newpost.description}}</p>
    </div>
    <div class="row">
      <div class="col-6 text-right">
          <button class="btn btn-danger m-2" (click)="deletePost()">Denegar</button>
      </div>
      <div class="col-6 text-end">
          <button class="btn btn-success m-2" (click)="aceptaPost()">Aceptar</button>
      </div>
    </div>
    <!--<div class="text-end">
      <button class="btn btn-danger ml-3">Delete</button>
    </div>-->
  </div>
</div>
