<html lang="es">
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  </head>
  <body>
    <router-outlet></router-outlet>
    <!--logos insta y tal-->
    <div class="container-fluid text-center mb-3">
      <a href="#" class="fs-1 px-2 link-primary"><i class="bi bi-facebook"></i></a>
      <a href="#" class="fs-1 px-2 link-info"><i class="bi bi-twitter"></i></a>
      <a href="#" class="fs-1 px-2 link-danger"><i class="bi bi-instagram"></i></a>
  </div>
  </body>
  <footer class="container-fluid justify-content-center align-middle bg-dark p-2">
    <p class="text-center text-light">&copy; 2022 - Alfonso Alex Gabriel Leo - IES Pere Maria Orts & Bosch</p>
  </footer>
</html>
