<!--Cabecera-->
<div class="bg-image">
  <app-posts-nav></app-posts-nav>
</div>
<!--Acerca de-->
<div class="container-fluid justify-content-center">
  <p class="fs-2 text-center fw-light mt-3">Acerca de Salvador Mira</p>
  <div class="container bg-primary rounded p-3 mw-25 mr-5 mb-5">
      <p class="text-center text-light fs-5">Salvador Miras es un profesor del instituto de educación secundaria IES Pere Maria Orts & Bosch.</p>
      <p class="text-center text-light fs-5">Pero, ¿sabías que no es un profesor cualquiera? En sus ratos libres también sube tutoriales a YouTube, ayudando a muchos alumnos a desplegar servidores y lo más importante de todo, saca unas fotos increíbles, fotos que podrás observar en ésta pequeña página web dedicada a éste profesor.</p>
  </div>
</div>
<!--Fondo 1-->
<div class="container-fluid">
  <img class="img-fluid" src="https://l.icdbcdn.com/oh/6e205270-cd60-4f3a-aaaf-01da1ab6a4f3.jpg" width="100%">
</div>
<!-- Blogs -->
<div class="container">
  <h4 class="h2 text-center py-5">Aqui te dejo algunos de mis blogs</h4>
  <app-posts-show></app-posts-show>
</div>

