<!--Cabecera-->
<div class="bg-image">
  <app-posts-nav></app-posts-nav>
</div>
<!--Acerca de-->
<div class="container-fluid justify-content-center">
  <p class="fs-2 text-center fw-light mt-3">Acerca de Salvador Miras</p>
  <div class="container bg-primary rounded p-3 mw-25 mr-5 mb-5">
      <p class="text-center text-light fs-5">Salvador Miras es un profesor del instituto de educacion secundaria IES Pere Maria Orts & Bosch.</p>
      <p class="text-center text-light fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>
<!--Fondo 1-->
<div class="container-fluid">
  <img class="img-fluid" src="https://l.icdbcdn.com/oh/6e205270-cd60-4f3a-aaaf-01da1ab6a4f3.jpg" width="100%">
</div>
<!-- Blogs -->
<div class="container">
  <h4 class="h2 text-center py-5">Aqui te dejo algunos de mis blogs</h4>
    <app-posts-show></app-posts-show>
</div>

