<!--Cabecera-->
<div class="bg-image h-25">
  <app-posts-nav></app-posts-nav>
</div>
<!-- Contenido -->
<div class="container contenido mt-4">
  <div class="card h-100 rounded mb-5" style="width: 100%;">
    <img class="card-img-top" [src]="post.image">
    <div class="card-body">
      <p class="fs-4 card-title">{{post.title | titlecase}}</p>
      <p class="card-text pt-3">{{post.description}}</p>
    </div>
    <div class="text-end" [class]="muestraEliminar">
        <button class="btn btn-danger m-2" (click)="deletePost()">Delete</button>
    </div>
  </div>

  <div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-8">
            <div class="d-flex flex-row align-items-center text-left p-2 bg-white border-bottom px-4">

                <div class="d-flex flex-column-reverse flex-grow-0 align-items-center ml-1"></div>
                <div class="d-flex flex-column ml-3">
                    <div class="d-flex flex-row">
                        <h5>Sección de comentarios</h5>
                    </div>
                </div>
            </div>
            <div class="bg-white p-2 px-4">
                <div class="d-flex flex-row mt-4 mb-4">
                  <input type="text" class="form-control mx-3" placeholder="Añade un comentario" [(ngModel)]="comentario">
                  <button class="btn btn-primary" type="button" (click)="publicaComentario()">Comentar</button>
                </div>

                <div class="mb-4" *ngFor="let com of comments">
                    <div class="d-flex flex-row align-items-center ">
                      <h5 class="mr-2">Nombre</h5> <span class="mx-4">estrellas</span>
                    </div>
                    <div>
                      <span>{{ com.content }}</span>
                    </div>
                </div>



            </div>
            <div class="mt-2 text-end">
              <button class="btn btn-secondary m-2 text-white" (click)="goBack()">Volver</button>
            </div>
        </div>

    </div>

</div>





