<!--Cabecera-->
<div class="bg-image h-25">
  <app-posts-nav></app-posts-nav>
</div>
 <!--Fondo-->
 <div class="container-md my-5 p-5 bg-primary text-white text-center blog">
  <h1 class="fw-light text-light">BLOG DE FOTOGRAFÍA</h1>
  <p class="text-center text-light fw-light fs-5">Trucos, consejos, tutoriales y mucho más gracias a los aportes de la comunidad</p>
</div>
<!-- Contenido -->
<main class="py-3 bg-light">
  <div class="container text-end">
      <div class="pb-5">
        <button class="btn btn-primary" [routerLink]="['/posts/blog/add']"
        [routerLinkActive]="['active']" [class]="muestraAnadir">AÑADIR BLOG</button>
      </div>
  </div>
  <div class="container">
    <app-posts-show></app-posts-show>
  </div>
</main>
 <!--BTT-->
 <section class="container-fluid mt-3 p-3 text-secondary">
  <div class="text-center">
      <p class="w-100">Todos los derechos reservados. Queda prohibida la reproducción total o parcial del material protegido por estos derechos de propiedad intelectual, o su uso en cualquier forma, o por cualquier medio, ya sea electrónico o mecánico, incluyendo fotocopiado, grabación, transmisión o cualquier sistema de almacenamiento y recuperación de información, sin un permiso por escrito.</p>
  </div>
</section>

