<nav class="navbar navbar-expand-sm navbar-dark bg-none">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="https://preview.redd.it/an871k4o1sn51.png?width=440&format=png&auto=webp&s=85dcd6cb73b8760802e254ee14dfa3c7ab444591" alt="Logo-Salva" width="40">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto">
              <li class="nav-item fs-5 ms-2">
                  <a class="nav-link active"[routerLink]="['/posts']"
                  [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">INICIO</a>
              </li>
              <li class="nav-item fs-5 ms-2">
                  <a class="nav-link" [routerLink]="['/posts/galeria']"
                  [routerLinkActive]="['active']">GALERIA</a>
              </li>
              <li class="nav-item fs-5 ms-2">
                <a class="nav-link" [routerLink]="['/posts/blog']"
                [routerLinkActive]="['active']">BLOG</a>
              </li>
              <li class="nav-item fs-5 ms-2">
                  <a class="nav-link" [routerLink]="['/posts/contacto']"
                  [routerLinkActive]="['active']">CONTACTO</a>
              </li>
          </ul>
          <!--Parte derecha-->
          <ul class="navbar-nav">
            <li class="nav-item fs-5 ms-2">

              <a class="nav-link link-light fs-5" [routerLink]="['/posts/login']"
              [routerLinkActive]="['active']">Login</a>
            </li>
              <li class="nav-item fs-5 ms-2">
                <a class="nav-link link-light fs-5" [routerLink]="['/posts/login']"
                [routerLinkActive]="['active']" (click)="onLogout()">Logout</a>
              </li>
          </ul>
        </div>
    </div>
</nav>
